source https://www.nuget.org/api/v2/
framework = net452

nuget CommandLineParser
nuget Kayak
nuget LibLog
nuget System.Threading.Tasks.Dataflow
nuget murmurhash
nuget NSubstitute
nuget Polly
nuget Serilog
nuget Serilog.Sinks.Console
nuget Serilog.Enrichers.Environment
nuget Serilog.Enrichers.Process
nuget Serilog.Enrichers.Thread
nuget Serilog.Sinks.File
nuget Shouldly
nuget SimpleJson
nuget StatsdCsharpClient
nuget TinyIoC
nuget Topshelf
nuget xunit
nuget xunit.runner.visualstudio